<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserInfoMapper">
	    <!-- 新規登録 -->
    <insert id="save">
        INSERT INTO userInfo
            (name, email, password, update_date, create_date)
        VALUES
            (#{name}, #{email}, #{password}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    <select id="login" resultType="com.example.demo.entity.UserInfo">
		SELECT * FROM userInfo where name = #{name} AND password = #{password}
	</select>
</mapper>
