<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1>TUNAGクローン</h1>
	<h2>ログイン</h2>
	<form th:action="@{/user/login}" th:object="${userLoginRequest}" th:method="post">
		<p th:text="${errorMsg}"style="color: #ff0000;"></p>
		<div class="form-group">
			<label>パスワード : <span class="text-danger">※</span></label>
			<input style="width:300px;" type="text" th:field="*{password}" class="form-control">
		</div>
		<label>メールアドレス : <span class="text-danger">※</span></label>
		<input style="width:500px;" type="text" th:field="*{email}" class="form-control">
		</div>
		<br />
		<div class="text-left">
			<input type="submit" value="ログイン" class="btn btn-primary">
			<a href="/" class="btn btn-secondary">戻る</a>
		</div>
	</form>
</body>

</html>