<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head</head>
<body>
    <div class="container">
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger" th:text="${error}"></label>
        </div>
        <h1>ユーザー新規登録</h1>
        <form th:action="@{/user/create}" th:object="${userAddRequest}" th:method="post">
            <div class="form-group">
                <label>名前：<span class="text-danger">※</span></label>
                <input style="width:300px;" type="text" th:field="*{name}" class="form-control">
            </div>
            <div class="form-group">
            <div class="form-group">
                <label>パスワード : <span class="text-danger">※</span></label>
                <input style="width:300px;" type="text" th:field="*{password}" class="form-control">
            </div>				
                <label>メールアドレス : <span class="text-danger">※</span></label>
                <input style="width:500px;" type="text" th:field="*{email}" class="form-control">
            </div>
            <br />
            <div class="text-left">
                <input type="submit" value="登録" class="btn btn-primary">
                <a href="/" class="btn btn-secondary">戻る</a>
            </div>
        </form>
    </div>
</body>
</html>